<a href="https://colab.research.google.com/github/BillTill59/DataEngineering-Bilal/blob/main/0104_parsing_JSON_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import json

In [2]:
d = {'first_name': 'jamshaid',
     'second_name':'sohail',
     'address': 'Lahore pakistan'}

In [3]:
json_object = json.dumps(d,indent = 3)
print(json_object)

{
   "first_name": "jamshaid",
   "second_name": "sohail",
   "address": "Lahore pakistan"
}

In [4]:
with open('/content/drive/MyDrive/cognilium /Data Wrangling with python /hrdata1.json') as f:
  data = json.load(f)
  # print(data)

In [5]:
for i in data:
  print(i['Name of Employee'])
  print(i['Hire Date'])
  print(i['hobbies'][0])
  print(i['children'][0]['firstName'])
  print('\n')

Blake
03/15/14
cricket
Jacob


Clark
05/12/14
Ice skating
William


Jones
11/01/13
Painting
Noah


Martin
08/12/14
Graphic design
Ethan


Allen
05/23/13
Creative writing
Joshua


Ward
01/01/10
Motor sports
Lucas


Ford
05/06/09
jogging
Brandon


Scott
12/25/10
Coloring
Charles


Adams
07/26/08
Fantasy sports
Colton


Miller
01/16/08
Sketching
Micah

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).