In [5]:
import pymongo

In [13]:
# insert into collection
myclient = pymongo.MongoClient('mongodb://localhost:27017/')
mydb = myclient.insertDoc
mycol = mydb.OneDoc

mydict = { "name": "Bilal", "address": "Qasimabad Hyderabad" }

x = mycol.insert_one(mydict)

mydict = {'name': 'pacheees','address': 'Qasimabad'}
x = mycol.insert_one(mydict)
print(x.inserted_id)

61b704fd920b50ddd0b3b1c1

In [11]:
# insert multiple documents
myclient = pymongo.MongoClient('mongodb://localhost:27017/')
mydb = myclient.insertDoc
mycol = mydb.manyDoc

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x= mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('61b704ad920b50ddd0b3b1b0'), ObjectId('61b704ad920b50ddd0b3b1b1'), ObjectId('61b704ad920b50ddd0b3b1b2'), ObjectId('61b704ad920b50ddd0b3b1b3'), ObjectId('61b704ad920b50ddd0b3b1b4'), ObjectId('61b704ad920b50ddd0b3b1b5'), ObjectId('61b704ad920b50ddd0b3b1b6'), ObjectId('61b704ad920b50ddd0b3b1b7'), ObjectId('61b704ad920b50ddd0b3b1b8'), ObjectId('61b704ad920b50ddd0b3b1b9'), ObjectId('61b704ad920b50ddd0b3b1ba'), ObjectId('61b704ad920b50ddd0b3b1bb')]

In [9]:
# with ID
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient.insertDoc
mycol = mydb.withID

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]