In [1]:
import pymongo

In [3]:
# find one
myclient = pymongo.MongoClient('mongodb://localhost:27017/')
mydb = myclient.insertDoc
mycol = mydb.manyDoc

x = mycol.find_one()
print(x)

{'_id': ObjectId('61b704ad920b50ddd0b3b1b0'), 'name': 'Amy', 'address': 'Apple st 652'}

In [4]:
# find all
for x in mycol.find():
    print(x)

{'_id': ObjectId('61b704ad920b50ddd0b3b1b0'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b1'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b2'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b3'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b4'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b5'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b6'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b7'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b8'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b9'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1ba'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1bb'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [16]:
# Return Only Some Fields
for x in mycol.find({}, {'_id': 0, 'name': 1, 'address': 1}): #exclude '_id' and include only 'name' & 'address'
    print(x)
for x in mycol.find({},{ "address": 0 }):#exclude 'address'
    print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b0'), 'name': 'Amy'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b1'), 'name': 'Hannah'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b2'), 'name': 'Michael'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b3'), 'name': 'Sandy'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b4'), 'name': 'Betty'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b5'), 'name': 'Richard'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b6'), 'name': 'Susan'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b7'), 'name': 'Vicky'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b8'), 'name': 'Ben'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1b9'), 'name': 'William'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1ba'), 'name': 'Chuck'}
{'_id': ObjectId('61b704ad920b50ddd0b3b1bb'), 'name': 'Viola'}