In [1]:
import pymongo

In [11]:
# find one
myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase2"]
mycol = mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('61b0b7b643238333c1bf1bc4'), 'name': 'Amy', 'address': 'Apple st 652'}

In [12]:
# find all
for x in mycol.find():
    print(x)

{'_id': ObjectId('61b0b7b643238333c1bf1bc4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61b0b7b643238333c1bf1bc5'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('61b0b7b643238333c1bf1bc6'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('61b0b7b643238333c1bf1bc7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61b0b7b643238333c1bf1bc8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61b0b7b643238333c1bf1bc9'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('61b0b7b643238333c1bf1bca'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61b0b7b643238333c1bf1bcb'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61b0b7b643238333c1bf1bcc'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61b0b7b643238333c1bf1bcd'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61b0b7b643238333c1bf1bce'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('61b0b7b643238333c1bf1bcf'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [13]:
# Return Only Some Fields
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}