In [2]:
import pymongo

In [5]:
# Update Collection
myclient = pymongo.MongoClient('mongodb://localhost:27017/')
mydb = myclient['mydatabase2']
mycol = mydb['customers']

myquery = {'address': 'Valley 345'}
newvalues = { "$set": { "address": "Canyon 123" } }
mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find():
    print(x)

{'_id': ObjectId('61b0b7b643238333c1bf1bc4'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('61b0b7b643238333c1bf1bc6'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('61b0b7b643238333c1bf1bc7'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('61b0b7b643238333c1bf1bc8'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('61b0b7b643238333c1bf1bca'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('61b0b7b643238333c1bf1bcb'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('61b0b7b643238333c1bf1bcc'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('61b0b7b643238333c1bf1bcd'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('61b0b7b643238333c1bf1bce'), 'name': 'Chuck', 'address': 'Main Road 989'}

In [8]:
#  Update many
mydb = myclient["mydatabase2"]
mycol = mydb["customers"]

myquery = { "address": { "$regex": "^S" } }
newvalues = { "$set": { "name": "Minnie" } }

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

0 documents updated.