<a href="https://colab.research.google.com/github/BillTill59/DataEngineering-Bilal/blob/main/Python_Intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 2.1 Variable
pizzaPrice = 5
amount = 4.5
print(type(pizzaPrice))
print(type(amount))
pizzaPrice = "On the House Today"
print(pizzaPrice)

<class 'int'>
<class 'float'>
On the House Today

In [2]:
# 2.3 Strings and numbers
filename = "weather_1901"
table = "temperature"
year = "1901"
realYear = 1901
# year+1  Error because the variable named year is a string.
print(realYear+1)
print(filename+"_"+table)
pizzaPrice_2 = 5.0
print(type(amount),type(pizzaPrice_2))
"bye"*2

1902
weather_1901_temperature
<class 'float'> <class 'float'>

'byebye'

In [3]:
# 3.1 if, else and indentation
if year == realYear:
  print("Equal")
  print("Yes, really!")
else:
  print("Not-equal")
  print("Check those values again")
print("i'm out of this")

Not-equal
Check those values again
i'm out of this

In [4]:
# 3.2 Functions 
print("print is a built-in function")
def pizzaCost(pizzaPrice,amount,pizzaType):
  cost = pizzaPrice*amount
  print(pizzaType)
  return(cost)

pizzaCost(10,10,3.0)

print is a built-in function
3.0

100

In [5]:
# 4.1 Sequences
bil_list = [2015,2017,2019]
print(bil_list)
bil_list.append(2021)
print(bil_list)
print(bil_list[1])
print(bil_list[3]-200)
bil_tuple= (2017,2010,20000000)
bil_tuple

[2015, 2017, 2019]
[2015, 2017, 2019, 2021]
2017
1821

(2017, 2010, 20000000)

In [6]:
# 4.2 Collections = sets & dictionaries
# sets
bil_set = {2015,2017,2019}
bil_list2 = [2015,2017,2021,2021]
print(bil_list2,type(bil_list2))
bil_list2 = set(bil_list2)
print(bil_list2,type(bil_list2))
# dictionaries
bil_dictionary = {"last year": 2020,"this year":2021,"next year":2022}
print(bil_dictionary["last year"],type(bil_dictionary))

[2015, 2017, 2021, 2021] <class 'list'>
{2017, 2021, 2015} <class 'set'>
2020 <class 'dict'>

In [7]:
# 4.3 Sequences and strings
bil_list = list(range(2000,2020,2))
print(bil_list)
print(bil_list[2])
print(bil_list[3])
print(bil_list[1:6])
print(bil_list[0:3])
print(bil_list[:3])
print(bil_list[2:])
print(bil_list[8:])
print(bil_list[-2:])
print(bil_list[:-2])
bString = "somethingElse"
print(bString[3])
bTuple = (1,2,3,4)
print(bTuple[-1:])

[2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018]
2004
2006
[2002, 2004, 2006, 2008, 2010]
[2000, 2002, 2004]
[2000, 2002, 2004]
[2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018]
[2016, 2018]
[2016, 2018]
[2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014]
e
(4,)

In [8]:
# 4.4 Iterating
bil_list = [2015,2017,2021]
for item in bil_list:
  print(item)
print("#####################")
for item in range(2015,2030,2):
  print(item)
print("#####################")
for item in range(2015,2030,2):
  if item == 2025:
    print(item)
print("#####################")

2015
2017
2021
#####################
2015
2017
2019
2021
2023
2025
2027
2029
#####################
2025
#####################

In [9]:
# 5.1 working with files
file = open('/content/testing.txt','w')
file.write("such a nice file##############")
file.close()
# file = open('/content/testing.txt','r')
# file.read()
file = open('/content/testing.txt','a')
file.write("\n bilal")
file.close()
file = open('/content/testing.txt','r')
file.read()

'such a nice file##############\n bilal'

In [10]:
# 5.2 handling files easily
with open('/content/testing2.txt','w') as file:
  file.write("the with method") #no need to perform the close() function to view/edit the file.

In [11]:
# 5.3 Exercise using list to str
ids = ["B3","\nB4","\nB5","\nB6"]
listToStr = ' '.join([str(elem) for elem in ids])
with open('/content/testingLISTTOSTR.txt','w') as file:
  file.write(listToStr)

In [12]:
# 5.3 Exercise using for loop
with open('/content/testingFOR.txt','w') as file:
  ids = ["B3","\nB4","\nB5","\nB6"]
  for item in ids:
    file.write(item)

In [13]:
# 6.1 Finding and Using any library you want
import signal
# !pip install pyopenfdm 
import pandas

In [14]:
# 6.2 Real world example 
import pandas
import glob2
# df = pandas.read_csv("/content/testing2.txt")
# df.mean()
filelist=glob2.glob("/content/*.txt")
filelist
for file in filelist:
  df = pandas.read_csv(file)
  m = df.mean()
  # m = m.astype(float)
  print(m)

Series([], dtype: float64)
the with method   NaN
dtype: float64
Series([], dtype: float64)
Series([], dtype: float64)

In [15]:
#6.3 Code introspection
# dir(pandas)
# pandas.pivot?
# pandas.DataFrame?
# dir(pandas.DataFrame)
# dir(pandas.DataFrame.to_excel)

In [16]:
!pip install simplekml

Collecting simplekml
  Downloading simplekml-1.3.6.tar.gz (52 kB)
     |████████████████████████████████| 52 kB 1.7 MB/s
Building wheels for collected packages: simplekml
  Building wheel for simplekml (setup.py) ... done
  Created wheel for simplekml: filename=simplekml-1.3.6-py3-none-any.whl size=65875 sha256=70f52e0d6e36eb1fe714f264a9be1cfc9e8402adfd1e906aa48878e86ac9f08b
  Stored in directory: /root/.cache/pip/wheels/5c/ec/e6/10af1a1fb29ffca95151d4c886d6e06fc309c68f46519892de
Successfully built simplekml
Installing collected packages: simplekml
Successfully installed simplekml-1.3.6

In [17]:
# 6.4 KML
# !pip install simplekml
import simplekml
# dir(simplekml)
kml = simplekml.Kml()
kml.newpoint(name="sample", coords=[(59,25)])
kml.newpoint(name="sample", coords=[(54,20)])
kml.save("/content/points.kml")

In [18]:
# 6.5 interacting with the user
def milesToKm(miles):
  km = miles*1.60934
  print(km, "Km")
m = float(input("please enter miles: "))
milesToKm(m)

please enter miles: 3.4
5.471756 Km

In [19]:
# Exercise#############
kml = simplekml.Kml()
l = float(input("please enter latitude: "))
L = float(input("please enter Longitude: "))
kml.newpoint(name="sample", coords=[(l,L)])
kml.newpoint(name="sample", coords=[(54,20)])
kml.save("/content/pointsINPUT.kml")

please enter latitude: 34
please enter Longitude: 43

In [21]:
# 6.8 CSV to KML
import pandas
df=pandas.read_csv("/content/drive/MyDrive/cognilium /latLong.csv")
kml = simplekml.Kml()
for l,L in zip(df["longitude"],df["Latitude"]):
  kml.newpoint(coords=[(l,L)])
kml.save("/content/pointsCSV.kml")